body {
    color: #FFFFFF;
    font-family: 'Roboto';
    font-size: 14px;
}
ul {
    list-style: none;
}
.web{
    color: #2196F3;
    font-family: 'Raleway';
    font-size: 26px;
    font-weight: 700;
    text-decoration: none;
    line-height: 30.52px;
}
.nav {
    color: #212121;
    font-weight: 500;
    text-decoration: none;
    line-height: 16.41px;
}
.nav-sel1 {
    color: #2196F3;
}
.nav-sel2 {
    color: #2196F3;
}
.nav:hover {
    color: #2196F3;
    
}
.nav-mt {
    color: #757575;
    font-weight: 500;
    text-decoration: none;
    line-height: 16.41px;
}
.nav-mt:hover {
    color: #2196F3;
}
.nav:focus {
    color: #2196F3;
}
.nav-mt:focus {
    color: #2196F3;
}
.sec1 {
    background-color: #2F303A;
    color: #FFFFFF;
    text-align: center;
    
}
.h1-title {
    text-align: center;
    font-size: 44px;
    font-weight: 900;
    line-height: 60px;
}
.btn-sec1 {
    background-color: #2196F3;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 700;
    line-height: 30px;
    border-radius: 4px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 15%);
}
.sec2 {
    color: #757575;
    font-weight: 400;
    line-height: 24px;
}
.h3-sec2 {
    color: #212121;
    font-weight: 700;
    line-height: 16.41px;
}
.h2-st {
    color: #212121;
    font-size: 36px;
    font-weight: 700;
    text-align: center;
    line-height: 42.19px;
}
.sec3 {
    font-size: 16px;
    
}
.h3-sec4 {
    color: #212121;
    font-size: 16px;
    font-weight: 500;
    line-height: 18.75px;
}
.sec4 {
    background-color: #F5F4FA;
    color: #757575;
    font-size: 16px;
    line-height: 18.75px;
}

footer {
    background-color: #2F303A;
}
.ftr-ad {
    color: #FFFFFF;
    text-decoration: none;
    line-height: 24px;
}
.ftr-ad:hover {
    color: #2196F3;
}
.ftr-mt {
    color: #FFFFFF;
    opacity: 60%;
    text-decoration: none;
    line-height: 24px;
}
.ftr-mt:hover {
    color: #2196F3;
}
.ftr-ad:focus {
    color: #2196F3;
}
.ftr-mt:focus {
    color: #2196F3;
}



/*PORTAFOLIO*/
.btn-fil {
    background-color: #F5F4FA;
    color: #212121;
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    line-height: 26px;
    border-radius: 4px;
}
.btn-fil:hover {
    color: #FFFFFF;
    background-color: #2196F3;

}
.h3-pf {
    color: #212121;
    font-size: 18px;
    font-weight: 700;
    line-height: 36px;
}
.p-pf {
    color: #757575;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
}